<% provide(:title, 'About') %>

<%= image_tag asset_path('portrait.jpg'), size:200, class:"rounded-circle mb-3" %>

<h1>About Lukas Hauser</h1>

<p>
  Lukas Hauser is a Swiss London-based artist who enthusiastically filled sketchbooks in his childhood until starting a finance career at 16. Apart from rare visits to his father’s art studio, he abandoned brush and canvas for more than a decade. He revived his creativity after moving to London where he became interested in street photography as a result of the vibrant and ever-changing backdrop of London and its inhabitants. Another four years later, he came across brush set, tiny paint tubes and small canvases in a Pound store, which inspired him to re-acquaint himself with his artistic nature. When the first piece was finished, his love of painting was reborn. Next to self-study, he attended two painting classes and practiced in residence.
</p>
<p>
  As the artist’s practice evolves, a style has become apparent. Deep, mysterious blacks are in strong contrast with light tones and bright colours. Next to his realistic work, he created abstract and experimental pieces. Although Hauser’s paintings consist of mixed styles and subjects, they reflect his deepest thoughts and feelings on the escape journey. He hopes to evoke similar reactions in the viewer. Lukas is also fascinated by applying machine learning to arts and trained GANs (Generative Adversarial networks) to generate art. He also minted his first NFTs.
</p>
<p>
  Lukas found showing work to the public one of the greatest experiences as an artist and photographer. However, finding the right venue and organising the exhibition was difficult, time-consuming and quite expensive. He built EXHYBYT, the AirBnb for the art world, to change that. While artists can easily find a space to exhibit their work, small businesses have the chance to generate additional revenues by renting out their empty wall spaces.
</p>
