<% provide(:title, 'Home') %>
<% unless Artwork.where('listing_name = ?', 'Solar Eclipse')[0].nil? %>
  <% provide :background_image, (asset_path('ThisGuitarDoesNotExist1.mp4')) %>
<% end %>

<main class="px-3">
  <h1>Surf, Art & Rock n' Roll</h1>
  <p class="lead">Thank you for checking out Lukas Hauser's Art and Photography.</p>
  <%= link_to "Browse NFTs", digitalart_path, class: "btn btn-light" %>
</main>
